In [1]:
import numpy as np
import pandas as pd
currency = pd.read_csv('currency_data.csv')
macro = pd.read_csv('macro_data_oil.csv')
currency.shape

(179, 12)

In [2]:
currency.head()

,Date,bid_price_1m,offer_price_1m,1m,1m_std,bid_price_3m,offer_price_3m,3m,spotrate_1m,rate_diff,compare,spot_diff
0,18-Dec,-265,-165,-215.0,-21.5,-625,-365,-495.0,1112.7,-1.60,True,-0.143588
1,18-Nov,-140,-40,-90.0,-9.0,-565,-305,-435.0,"1,114.30",-6.14,True,-0.547999
2,18-Oct,-155,-55,-105.0,-10.5,-490,-210,-350.0,"1,120.44",-21.58,False,-1.889634
3,18-Sep,-140,-40,-90.0,-9.0,-435,-155,-295.0,"1,142.02",31.87,True,2.870783
4,18-Aug,-115,-15,-65.0,-6.5,-440,-180,-310.0,"1,110.15",-5.48,True,-0.491202

In [2]:
##데이터 셋 사이즈 fitting

macro.shape

(179, 29)

In [2]:
## 결측치 column 배제

macro = macro.dropna(axis=1)
macro.head()

,date,Dubai,Brent,WTI,oil_price_diff,avg_oil price,avg_operation,avg_stock,unemployment,employment,...,fx_stock,libor_rate,rate_diff,KOSPI200,KOSPI,KOSPI200_monthly_return,KOSPI_monthly_return,nasdaq,diff,credit_change
0,2018-12-01,57.3,57.7,49.0,-12.904939,54.666667,72.7,116.0,3.4,60.1,...,403694264,2.73613,-0.82613,261.98,2041.04,-0.034531,-0.026621,6648.55,-9.212627,0
1,2018-11-01,65.6,66.0,56.7,-18.414211,62.766667,73.1,111.7,3.2,61.4,...,402987219,2.73613,-1.02613,271.35,2096.86,0.027802,0.033094,7323.21,0.740642,0
2,2018-10-01,79.4,80.6,70.8,1.943463,76.933333,74.3,106.9,3.5,61.2,...,402747935,2.55850,-0.87850,264.01,2029.69,-0.121460,-0.133748,7269.37,-9.384446,0
3,2018-09-01,77.2,79.1,70.1,5.695612,75.466667,73.7,107.2,3.6,61.2,...,402999746,2.39838,-0.74838,300.51,2343.07,0.001466,0.008692,8022.21,-0.878626,0
4,2018-08-01,72.5,73.8,67.9,-1.967963,71.400000,75.7,107.2,4.0,60.9,...,401131047,2.32075,-0.67075,300.07,2322.88,0.008808,0.012033,8093.32,5.600121,0

In [5]:
macro.shape

(179, 29)

In [3]:
###각 시점 현물환율이 예고된 선물환율보다 오른 비율

labels = currency['compare']
labels.mean()

0.41899441340782123

In [7]:
len(macro)

179

In [4]:
currency.head(3)

,Date,bid_price_1m,offer_price_1m,1m,1m_std,bid_price_3m,offer_price_3m,3m,spotrate_1m,rate_diff,compare,spot_diff
0,18-Dec,-265,-165,-215.0,-21.5,-625,-365,-495.0,1112.7,-1.60,True,-0.143588
1,18-Nov,-140,-40,-90.0,-9.0,-565,-305,-435.0,"1,114.30",-6.14,True,-0.547999
2,18-Oct,-155,-55,-105.0,-10.5,-490,-210,-350.0,"1,120.44",-21.58,False,-1.889634

In [5]:
# currency = currency.drop(['Date', 'bid_price_1m', 'offer_price_1m', '1m', '1m_std', 'bid_price_3m', 'offer_price_3m', '3m', 'spotrate_1m', 'compare'], axis=1)

In [6]:
currency.head()

   rate_diff  spot_diff
0      -1.60  -0.143588
1      -6.14  -0.547999
2     -21.58  -1.889634
3      31.87   2.870783
4      -5.48  -0.491202

In [7]:
# features = np.array([currency.iloc[k] for k in range(len(currency))])

In [4]:
macro['price_diff'] = (macro['export_price_rate'] - macro['import_price_rate'])

In [5]:
macro.head()

,date,Dubai,Brent,WTI,oil_price_diff,avg_oil price,avg_operation,avg_stock,unemployment,employment,...,libor_rate,rate_diff,KOSPI200,KOSPI,KOSPI200_monthly_return,KOSPI_monthly_return,nasdaq,diff,credit_change,price_diff
0,2018-12-01,57.3,57.7,49.0,-12.904939,54.666667,72.7,116.0,3.4,60.1,...,2.73613,-0.82613,261.98,2041.04,-0.034531,-0.026621,6648.55,-9.212627,0,-3.8
1,2018-11-01,65.6,66.0,56.7,-18.414211,62.766667,73.1,111.7,3.2,61.4,...,2.73613,-1.02613,271.35,2096.86,0.027802,0.033094,7323.21,0.740642,0,-6.1
2,2018-10-01,79.4,80.6,70.8,1.943463,76.933333,74.3,106.9,3.5,61.2,...,2.55850,-0.87850,264.01,2029.69,-0.121460,-0.133748,7269.37,-9.384446,0,-9.8
3,2018-09-01,77.2,79.1,70.1,5.695612,75.466667,73.7,107.2,3.6,61.2,...,2.39838,-0.74838,300.51,2343.07,0.001466,0.008692,8022.21,-0.878626,0,-8.3
4,2018-08-01,72.5,73.8,67.9,-1.967963,71.400000,75.7,107.2,4.0,60.9,...,2.32075,-0.67075,300.07,2322.88,0.008808,0.012033,8093.32,5.600121,0,-7.8

In [6]:
macro = macro.drop(columns='date')

In [7]:
##의미 없는 column 삭제

macro = macro.drop(['export_price_rate', 'import_price_rate', 'CD_rate', 'libor_rate', 'fx_stock'], axis=1)

In [9]:
macro.head(3)

,Dubai,Brent,WTI,oil_price_diff,avg_oil price,avg_operation,avg_stock,unemployment,employment,producer_price_rate,...,current_account,rate_diff,KOSPI200,KOSPI,KOSPI200_monthly_return,KOSPI_monthly_return,nasdaq,diff,credit_change,price_diff
0,57.3,57.7,49.0,-12.904939,54.666667,72.7,116.0,3.4,60.1,1.0,...,4819.3,-0.82613,261.98,2041.04,-0.034531,-0.026621,6648.55,-9.212627,0,-3.8
1,65.6,66.0,56.7,-18.414211,62.766667,73.1,111.7,3.2,61.4,1.5,...,5223.6,-1.02613,271.35,2096.86,0.027802,0.033094,7323.21,0.740642,0,-6.1
2,79.4,80.6,70.8,1.943463,76.933333,74.3,106.9,3.5,61.2,2.2,...,9348.8,-0.87850,264.01,2029.69,-0.121460,-0.133748,7269.37,-9.384446,0,-9.8

In [8]:
#효율적인 ML 적용 위해 각 변수 중 3-4개 변수 채택
macro_dropped = macro.drop(['avg_operation', 'avg_stock', 'unemployment', 'employment', 'producer_price_rate', 'M1_rate', 'M2_rate'], axis=1)

In [9]:
macro_dropped = macro_dropped.drop(['Dubai', 'Brent', 'WTI'], axis=1)
macro_dropped.head()

,oil_price_diff,avg_oil price,consumer_price_rate,current_account_diff,current_account,rate_diff,KOSPI200,KOSPI,KOSPI200_monthly_return,KOSPI_monthly_return,nasdaq,diff,credit_change,price_diff
0,-12.904939,54.666667,1.3,-7.739873,4819.3,-0.82613,261.98,2041.04,-0.034531,-0.026621,6648.55,-9.212627,0,-3.8
1,-18.414211,62.766667,2.0,-44.125449,5223.6,-1.02613,271.35,2096.86,0.027802,0.033094,7323.21,0.740642,0,-6.1
2,1.943463,76.933333,2.0,-15.111232,9348.8,-0.87850,264.01,2029.69,-0.121460,-0.133748,7269.37,-9.384446,0,-9.8
3,5.695612,75.466667,2.1,28.804005,11013.0,-0.74838,300.51,2343.07,0.001466,0.008692,8022.21,-0.878626,0,-8.3
4,-1.967963,71.400000,1.4,-0.024555,8550.2,-0.67075,300.07,2322.88,0.008808,0.012033,8093.32,5.600121,0,-7.8

In [10]:
macro_dropped['stock_diff'] = (macro_dropped['KOSPI_monthly_return']*100 - macro_dropped['diff'])

In [11]:
macro_dropped = macro_dropped.drop(['avg_oil price', 'current_account'], axis=1)

In [17]:
macro_dropped['stock_diff'].head()

0    6.550551
1    2.568731
2   -3.990314
3    1.747805
4   -4.396772
Name: stock_diff, dtype: float64

In [12]:
macro_dropped = macro_dropped.drop(['KOSPI200', 'KOSPI', 'KOSPI200_monthly_return', 'KOSPI_monthly_return','nasdaq','diff'], axis=1)

In [13]:
macro_dropped.head()

,oil_price_diff,consumer_price_rate,current_account_diff,rate_diff,credit_change,price_diff,stock_diff
0,-12.904939,1.3,-7.739873,-0.82613,0,-3.8,6.550551
1,-18.414211,2.0,-44.125449,-1.02613,0,-6.1,2.568731
2,1.943463,2.0,-15.111232,-0.87850,0,-9.8,-3.990314
3,5.695612,2.1,28.804005,-0.74838,0,-8.3,1.747805
4,-1.967963,1.4,-0.024555,-0.67075,0,-7.8,-4.396772

In [17]:
##경상수지 column 실수변환 어려움 겪는 중

macro_dropped.dtypes

oil_price_diff          float64
consumer_price_rate     float64
current_account_diff    float64
rate_diff               float64
credit_change             int64
price_diff              float64
stock_diff              float64
dtype: object

In [21]:
macro_dropped = macro_dropped.drop(columns='stock_diff')

In [29]:
macro_dropped = macro_dropped.drop(columns='rate_diff')

In [14]:
macro_dropped = macro_dropped.drop(columns='credit_change')

In [15]:
macro_dropped = macro_dropped.drop(columns='consumer_price_rate')

In [21]:
macro_dropped = macro_dropped.drop(['stock_diff', 'rate_diff', 'oil_price_diff', 'current_account_diff', 'credit_change', 'price_diff'], axis=1)

In [16]:
macro_dropped.head()

   oil_price_diff  current_account_diff  rate_diff  price_diff  stock_diff
0      -12.904939             -7.739873   -0.82613        -3.8    6.550551
1      -18.414211            -44.125449   -1.02613        -6.1    2.568731
2        1.943463            -15.111232   -0.87850        -9.8   -3.990314
3        5.695612             28.804005   -0.74838        -8.3    1.747805
4       -1.967963             -0.024555   -0.67075        -7.8   -4.396772

In [17]:
features = np.array([macro_dropped.iloc[k] for k in range(len(macro))])

In [34]:
from sklearn.svm import SVC

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
from time import time

In [22]:
import random

In [31]:
k = random.randint(1,100)

In [32]:
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, random_state=k)
features_train

array([[-6.69234472e+00, -5.10984821e+01,  1.93062000e+00,
         1.02000000e+01,  4.02677086e+00],
       [ 5.38020086e+00, -1.42565515e+02,  2.82050000e+00,
        -1.29000000e+01, -8.80487453e+00],
       [-7.30449728e+00, -5.09979569e+01,  3.20712000e+00,
        -1.26000000e+01, -5.03893710e-01],
       [-5.60961647e+00, -3.80974493e+01, -4.60000000e-01,
        -1.18000000e+01,  5.89102089e+00],
       [ 1.63316582e+00, -5.37906677e+01,  4.65440000e-01,
        -5.90000000e+00, -1.67508248e+00],
       [ 3.95256937e-01, -7.13442588e+01,  2.73000000e+00,
        -5.20000000e+00,  1.99545647e+00],
       [ 9.20353980e+00, -6.23808753e+01,  9.73400000e-01,
         1.90000000e+00,  2.31893564e+00],
       [-2.50475584e+00, -4.50615442e+01,  2.41090000e+00,
         2.40000000e+00, -3.04030953e+00],
       [ 7.86988458e-01,  3.07117064e+01, -5.40065000e-01,
        -4.60000000e+00,  3.83530413e+00],
       [ 1.61011311e+01, -2.57963812e+01,  1.75375000e+00,
         9.80000000e+00, -1.12120964e+00],
       [ 3.73647984e+00, -1.34628109e+01, -4.11250000e-01,
        -2.70000000e+00, -5.32559723e+00],
       [-4.19847328e+00,  3.38599246e+01,  1.80000000e-01,
         1.00000000e+00,  3.94047968e+00],
       [-2.66792213e+00,  1.23883842e+01,  2.61725000e+00,
        -1.00000000e-01,  2.44968293e-01],
       [-1.84518452e+01, -9.01585328e+00,  1.05740000e+00,
         4.80000000e+00,  5.51969717e+00],
       [ 1.82926829e+00, -3.99743120e+01, -3.42800000e-02,
        -1.10000000e+00, -8.85014034e-01],
       [-1.30718955e+00, -2.31856187e+02,  3.10000000e-01,
        -8.70000000e+00, -1.08612478e+00],
       [ 1.48648649e+01,  7.48538012e+01,  4.30000000e-01,
        -6.90000000e+00, -1.21562719e+00],
       [ 4.51174291e+00, -3.51137075e+01, -1.90000000e-01,
        -1.01000000e+01,  4.50576305e+00],
       [-1.30612245e+01, -1.38205462e+02,  1.73750000e+00,
        -1.52000000e+01,  9.71306055e+00],
       [-1.29296236e+01, -3.55896510e+01, -4.40000000e-01,
        -4.30000000e+00, -6.94310621e+00],
       [ 7.31773670e+00, -3.42271838e+01,  2.57687000e+00,
        -2.37000000e+01,  4.80691000e-01],
       [ 1.67910448e+00, -1.83742704e+02,  2.69812000e+00,
        -1.54000000e+01, -4.01569872e+00],
       [ 1.16307442e+01,  7.03076843e+01,  2.98750000e-01,
        -1.19000000e+01, -2.21584920e-01],
       [-2.22508868e+00,  1.23483726e+01,  2.53950000e+00,
         1.30000000e+00, -4.83289387e-01],
       [-7.08591672e+00, -5.65198360e+01,  2.30000000e+00,
        -5.10000000e+00, -5.00872165e+00],
       [ 5.26643811e+00,  1.29370629e+01,  3.04575000e+00,
        -5.90000000e+00, -1.15736819e+00],
       [ 8.41983853e+00,  1.02082641e+01,  1.51625000e+00,
         1.11000000e+01, -2.60561432e+00],
       [ 2.88554024e+00, -2.31637996e+02,  3.00765000e+00,
        -6.00000000e+00, -5.00262650e-01],
       [-1.02836879e+01,  9.02285662e+01,  1.01000000e+00,
        -3.10000000e+00, -9.10844599e-01],
       [ 9.63244639e-01,  9.78740157e+01,  2.72875000e+00,
        -2.55000000e+01, -5.68246146e+00],
       [ 1.00532229e+01,  5.65112540e+01, -3.70000000e-01,
        -1.15000000e+01, -5.58680557e-01],
       [-2.70852567e+00, -2.02090413e+01,  2.41090000e+00,
        -8.00000000e-01,  4.46885793e+00],
       [-4.68071913e+00,  2.04641808e+02,  2.52990000e+00,
         4.90000000e+00, -4.17594910e+00],
       [ 8.40664711e+00,  1.43156170e+01,  2.50937000e+00,
        -1.20000000e+00, -1.71786607e+00],
       [ 3.81830145e+00, -6.17158595e+01,  2.56200000e+00,
         2.50000000e+00, -5.53432923e+00],
       [-4.83610962e-01, -2.55675398e+01, -3.65000000e-01,
        -1.35000000e+01,  1.39753722e+01],
       [ 2.47718384e+00, -3.80580900e+01,  2.57670000e-01,
        -3.00000000e-01,  9.19869260e-02],
       [ 6.20723362e+00, -1.31891867e+02, -8.35630000e-01,
        -1.08000000e+01,  4.22795251e+00],
       [ 6.06851550e+00, -3.45398458e+02,  2.53000000e+00,
        -1.56000000e+01,  1.89145507e+00],
       [-2.16127263e+01,  3.97625415e+00,  1.87690000e+00,
         1.08000000e+01,  3.42991392e+00],
       [-6.40634533e+00, -3.08969430e+01,  3.30440000e-01,
        -1.80000000e+00,  1.89598767e+00],
       [ 7.54516470e+00,  5.72766451e+01,  2.82000000e+00,
        -3.50000000e+00,  2.07734886e+00],
       [ 8.67492849e+00,  1.29974037e+01,  2.21000000e+00,
        -5.10000000e+00,  1.27524433e+00],
       [ 1.16334661e+01,  1.54199082e+01,  1.25812000e+00,
         6.80000000e+00,  2.81357776e+00],
       [ 0.00000000e+00,  2.44131036e+00, -3.20000000e-01,
        -4.20000000e+00,  7.82011360e+00],
       [ 1.04106420e+00,  6.57417051e+01, -7.70000000e-01,
        -6.80000000e+00,  2.04477005e+00],
       [-3.23974082e+00, -8.18509345e+01,  2.62831000e+00,
        -5.90000000e+00, -4.63380418e+00],
       [ 0.00000000e+00,  0.00000000e+00,  2.96000000e+00,
        -1.30000000e+00,  0.00000000e+00],
       [-1.29049389e+01, -7.73987288e+00, -8.26130000e-01,
        -3.80000000e+00,  6.55055100e+00],
       [ 1.29789864e+00,  1.18673016e+02,  4.26000000e-01,
        -4.10000000e+00, -2.18728970e+00],
       [-6.35727940e-01,  2.84737662e+01,  2.41940000e+00,
         2.00000000e-01,  3.45340436e+00],
       [ 8.32879695e+00, -4.10542739e+01, -1.17770000e-01,
        -1.30000000e+00, -2.82325542e+00],
       [-8.51188732e+00, -3.56395028e+03,  3.07315000e+00,
        -2.10000000e+00,  1.15771866e-01],
       [-1.42150802e+00,  5.90753536e+01,  1.67925000e+00,
         1.03000000e+01,  4.59597749e+00],
       [ 5.69561158e+00,  2.88040046e+01, -7.48380000e-01,
        -8.30000000e+00,  1.74780543e+00],
       [-3.44086022e+00, -4.36392594e+01,  2.56937000e+00,
        -7.20000000e+00,  2.18533999e+00],
       [-7.50332006e+00,  6.44471035e+01,  8.08300000e-02,
         2.70000000e+00,  2.92556075e+00],
       [ 7.44308232e+00,  1.37852355e+00,  2.37406000e+00,
        -8.20000000e+00, -5.22625492e+00],
       [-3.16241947e+00,  3.66515030e+01,  2.41800000e+00,
         2.80000000e+00, -2.56139395e+00],
       [ 9.98668442e-01,  1.00959377e+02,  4.61100000e-02,
         4.00000000e-01,  7.69712987e-01],
       [ 1.01535836e+01, -5.41112752e+01,  7.20000000e-01,
        -4.70000000e+00,  9.51611983e+00],
       [-6.31374449e-01, -5.09977169e+03, -1.01063000e+00,
        -1.00000000e+01, -1.23907195e+00],
       [ 6.54246101e+00, -5.56114641e+01,  4.46250000e-01,
        -1.00000000e+01,  4.22036877e-01],
       [ 2.04531155e+00,  1.97987593e+02,  3.33450000e+00,
        -1.36000000e+01,  2.25494112e+00],
       [-4.22110553e+00,  4.76480375e+01, -3.67190000e-01,
        -1.70000000e+00, -3.06867402e+00],
       [ 7.26744186e+00,  5.22150918e+02, -6.71250000e-01,
        -7.70000000e+00, -8.46718438e+00],
       [ 3.69799692e-01,  2.28256617e+01,  2.41115000e+00,
         3.40000000e+00, -1.29635330e+00],
       [-4.84024043e+00,  9.60024521e+00,  2.28640000e+00,
         1.30000000e+00, -5.28147939e+00],
       [-3.67543113e+00, -1.04044693e+02,  3.07415000e+00,
        -2.70000000e+00,  1.40378777e-01],
       [ 1.42475511e+00,  5.88285014e+00,  2.33437000e+00,
        -7.40000000e+00,  5.45884303e+00],
       [ 9.18593633e-01,  3.00760198e+02,  2.78150000e+00,
        -1.20000000e+00,  3.63968437e+00],
       [-1.25453949e+00,  1.92270467e+01,  3.15056000e+00,
        -9.20000000e+00, -3.56158936e+00],
       [-3.08880310e+00,  2.75153584e+03,  1.43562000e+00,
         4.90000000e+00, -1.37940162e+00],
       [ 1.09907121e+01, -4.11581225e+01,  2.09687000e+00,
         5.90000000e+00,  9.35553298e-01],
       [ 2.28281547e+00, -1.96156082e+01,  2.54290000e+00,
         3.00000000e+00,  3.54343385e+00],
       [ 3.11926606e+00,  2.24553507e+02,  2.22250000e+00,
        -1.47000000e+01,  1.05437333e+01],
       [ 4.97677505e-01, -3.29761772e+01,  3.20567000e+00,
        -1.09000000e+01,  6.53575348e-01],
       [ 2.15053763e+01,  4.03065279e+01,  1.00140000e+00,
         3.40000000e+00, -2.20832862e+00],
       [-3.57723578e+00, -2.52262544e+01,  2.52690000e+00,
         4.00000000e+00, -4.01132379e+00],
       [-2.36794172e+00, -7.47745537e+01,  1.02750000e+00,
        -1.21000000e+01, -1.39131766e-01],
       [-2.07768744e+00, -1.15786354e+01, -6.85750000e-01,
        -9.50000000e+00, -4.81355739e+00],
       [-1.48006135e+01, -1.73237250e+01,  1.05730000e+00,
         5.80000000e+00,  1.65891875e-01],
       [ 1.09938734e+01, -2.81299725e+02,  3.04700000e+00,
        -1.26000000e+01,  9.64227319e+00],
       [ 2.60926292e+00,  1.61876258e+02,  2.41435000e+00,
         1.20000000e+00, -2.58564025e+00],
       [ 3.11804010e+00, -2.04580243e+02,  2.63094000e+00,
        -6.10000000e+00,  9.18082628e-01],
       [-1.07905138e+01,  7.34533818e+02,  2.00975000e+00,
        -9.70000000e+00,  2.61439075e+00],
       [ 1.11220472e+01,  6.98197867e+02,  2.50500000e+00,
        -5.70000000e+00, -9.68765939e+00],
       [ 5.75815739e-01,  1.12036618e+01,  2.42665000e+00,
        -5.00000000e-01,  1.08708224e+00],
       [ 2.79674800e+00,  6.31577161e+00,  2.40390000e+00,
         1.40000000e+00, -4.51426713e+00],
       [ 1.32260322e+01, -1.32786885e+01,  1.85815000e+00,
         9.70000000e+00, -4.71078148e+00],
       [ 4.36534584e-01, -2.89690056e+01,  2.41690000e+00,
         2.30000000e+00, -5.08570033e+00],
       [ 1.66852058e+00, -4.99214200e+01, -7.30000000e-01,
        -9.30000000e+00, -2.86758085e+00],
       [ 1.14449212e+00, -9.80443950e+00,  1.24590000e+00,
         8.40000000e+00, -5.98862355e+00],
       [ 7.05305124e+00,  4.38420211e+00,  3.12206000e+00,
        -1.40000000e+01,  1.38331786e+00],
       [-6.59103188e+00, -1.29516902e+01, -8.00630000e-01,
        -6.30000000e+00, -5.80151277e+00],
       [ 8.63546472e+00, -4.41549073e+01, -1.22000000e-03,
         1.30000000e+00,  1.81882057e+00],
       [ 5.65028415e+00,  2.04841168e+00,  2.41440000e+00,
         2.70000000e+00, -3.83478694e+00],
       [-1.26482215e+00,  1.52447936e+02,  1.50000000e+00,
        -4.40000000e+00,  9.60185372e-01],
       [ 7.84132832e-01,  1.46743721e+01, -6.98560000e-01,
        -9.10000000e+00, -3.47736367e+00],
       [ 5.33024334e+00,  5.91769547e+01, -4.10000000e-01,
        -7.80000000e+00,  3.14838159e+00],
       [ 7.53575358e+00,  9.30885901e+01, -4.05000000e-01,
        -6.10000000e+00,  2.58312879e+00],
       [-1.01158301e+01,  2.29902958e+01,  1.90640000e+00,
         5.80000000e+00, -3.22793488e+00],
       [ 1.94346289e+00, -1.51112322e+01, -8.78500000e-01,
        -9.80000000e+00, -3.99031407e+00],
       [-2.16924399e+01, -3.56931596e+01,  1.87440000e+00,
         8.60000000e+00, -2.68755048e+00],
       [ 1.63742690e+01, -6.50045089e+00,  5.42110000e-01,
        -2.60000000e+00,  1.05048467e+00],
       [ 1.33749443e-01, -5.37975527e+00,  2.12625000e+00,
        -6.80000000e+00, -3.30227735e+00],
       [ 1.30729006e+01, -2.71820658e+01,  2.67937000e+00,
        -2.07000000e+01, -2.20673001e+00],
       [ 4.66898956e+00, -1.77839677e+01,  7.22200000e-02,
         1.70000000e+00, -2.61801297e+00],
       [ 4.82416592e+00,  1.99665632e+01,  2.53344000e+00,
        -5.90000000e+00, -6.45178532e+00],
       [ 7.83162012e-01, -9.87226224e+01, -8.78130000e-01,
        -1.16000000e+01, -5.49304311e-01],
       [ 2.68987348e+00, -8.26034517e+00,  2.40050000e+00,
         3.10000000e+00,  1.83445047e+00],
       [ 7.28051392e+00, -4.57449015e+01,  1.40375000e+00,
         9.50000000e+00,  1.46076598e+00],
       [-1.27686878e+01,  2.10036285e+01,  3.07940000e+00,
         8.00000000e-01, -3.42736071e+00],
       [-1.96796338e+00, -2.45547980e-02, -6.70750000e-01,
        -7.80000000e+00, -4.39677158e+00],
       [ 8.14536340e+00, -4.40495096e+02, -3.98130000e-01,
        -5.80000000e+00,  6.68947678e+00],
       [-7.78773261e+00, -2.88314786e+01,  6.00900000e-01,
        -3.00000000e-01, -4.47447899e+00],
       [-1.38840071e+01,  7.00048636e+01,  2.95937000e+00,
        -2.07000000e+01, -9.80166904e+00],
       [ 8.71473354e+00, -2.60195667e+01,  1.53125000e+00,
         1.11000000e+01,  3.58244278e+00],
       [-1.14425163e+01, -1.88720098e+01,  1.34140000e+00,
         1.20000000e+01, -4.95892002e+00],
       [-2.33270794e+01,  1.51486726e+02,  3.25500000e+00,
         2.60000000e+00,  7.58118532e-01],
       [ 5.62805873e+00, -9.74682450e+01,  2.03562000e+00,
         1.90000000e+00,  1.01180281e+01],
       [ 9.46601942e+00,  8.48040639e+00, -3.73800000e-02,
        -1.50000000e+00, -4.03958268e+00],
       [-2.74983233e+01,  1.65793057e+02,  3.00375000e+00,
        -8.50000000e+00, -6.18870431e+00],
       [ 3.01507538e+00,  6.54168272e+00,  7.94400000e-02,
         2.60000000e+00, -2.92601363e+00],
       [-5.66954644e+00,  3.16077836e+02, -3.30000000e-01,
        -1.08000000e+01, -3.53695926e+00],
       [ 8.97480148e+00, -8.06817503e+01,  2.77175000e+00,
        -1.20000000e+00, -2.53692733e+00],
       [ 0.00000000e+00,  3.89530693e+01,  4.86330000e-01,
        -6.00000000e-01, -1.25859565e+00],
       [-8.77192982e-01,  6.24596902e+01, -3.08660000e-01,
        -2.70000000e+00,  1.30661945e+01],
       [-7.35177866e+00, -2.64964895e+01,  8.25620000e-01,
        -3.50000000e+00, -2.10947887e+00],
       [ 2.63388938e-01,  1.19555094e+01,  2.37000000e+00,
        -8.50000000e+00, -4.48261611e+00],
       [ 1.42002989e+00, -3.87429516e+01,  5.10670000e-01,
        -1.30000000e+00,  2.25575330e-02],
       [ 1.09649123e+01, -2.29954047e+01,  1.90000000e+00,
        -5.40000000e+00,  1.19617931e+01],
       [ 6.34357762e+00, -1.44744067e+02,  2.49719000e+00,
        -1.00000000e+01,  1.67965257e+00],
       [-1.05844454e+00,  1.20575601e+02, -7.17500000e-01,
        -8.80000000e+00,  7.26949210e-02]])

In [33]:
clf = tree.DecisionTreeClassifier()
print "fitting..."
t0 = time()
clf.fit(features_train, labels_train)
print "predicting..."
prediction = clf.predict(features_test)
acc = accuracy_score(prediction, labels_test)
print 'Your accuracy score is {}%'.format(100*acc)

fitting...
predicting...
Your accuracy score is 55.5555555556%